<div class="jumbotron center">
  <h1>Modifier un(e) combattant</h1>
  <%= render 'shared/form', combattant: @combattant %>
  <%= link_to 'Afficher', @combattant %> |
  <%= link_to 'Précédent', combattants_path %>
</div>
