<div class="jumbotron justify-content-center">
  <%= render 'shared/index', combattant: @combattant %>
  <%= link_to 'Créer un(e) combattant(e)', new_combattant_path , class: "btn btn-primary"%>
</div>
