<div class="jumbotron d-flex justify-content-center">
  <h1>Créer un(e) combattant</h1>
  <%= render 'shared/form', combattant: @combattant %>
  <%= link_to 'Précédent', combattants_path , class: "btn btn-primary" %>
</div>
